{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@routes": "./src/routes/",
          "@db": "./master/db/",
          "@views": "./src/views/",
          "@middlewares": "./src/middlewares/",
          "@utils": "./src/utils/"
        }
      }
    ]
  ]
}
