{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@plugins": "./plugins/",
          "@models": "./models/",
          "@routes": "./routes/"
        }
      }
    ]
  ]
}
