{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@plugins": "./src/plugins/",
          "@middlewares": "./src/middlewares/",
          "@models": "./src/models/",
          "@routes": "./src/routes/"
        }
      }
    ]
  ]
}
