<div class="rounded bg-white border shadow-sm p-3">
    <p class="h2">Get Private Token</p>
    <p class="text-muted">
        This SUPER SECRET TOKEN is an token for fetch your content from the server by HTTP Request.
        Put this token to your header as authorize.
    </p>
    <button id="get-priv-btn" class="btn btn-primary w-100">Get Token</button>
</div>

<script>
    const getPrivBtn = document.getElementById('get-priv-btn')

    getPrivBtn.onclick = async () => {
        const res = await fetch('/api/getprivtoken')
        if (!res.ok)
            return alert("An error occurred while getting your token")

        const data = await res.json()
        navigator.clipboard.writeText(data.token)
        alert(`Your token is copied succesfully`)
    }
</script>